{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load experience_form %}


{% block custom_css %}
    <link href="{% static 'webapp/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/slider.css' %}" rel="stylesheet">
{% endblock %}


{% block custom_js %}
    <script src="{% static 'webapp/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'webapp/js/repeatable-fields.js' %}"></script>
    <script src="{% static 'webapp/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'webapp/js/ajax-image-upload.js' %}"></script>
    <script type="text/javascript">
        var settings;
        $().ready(function () {
            $('select').selectpicker(); //TODO ¿Poner esto en toda la web y ya está?
            $('.slider').slider();
            jQuery(function () {
                jQuery('.repeat').each(function () {
                    settings = jQuery(this).repeatable_fields({
                        wrapper: '.repeatable-wrapper',
                        container: '.repeatable-container',
                        row: '.repeatable-row',
                        add: '.repeatable-add',
                        remove: '.repeatable-remove',
                        move: '.repeatable-move',
                        template: '.repeatable-template',
                        is_sortable: true,
                        before_add: null,
                        before_remove: null,
                        after_remove: null,
                        after_add: function (container, new_row) {
                            if(new_row.hasClass("ingredient-item")){
                                new_row.find(".ingredient-input").focus();
                            }else if(new_row.hasClass("setup-item")){
                                new_row.find(".setup-input").focus();
                            }

                        }
                    });
                });
            });
        });
    </script>
    <script>
        var galleryArray = {};
        var associationsetupPicture = {};

        function setMainPicture(url) {
            $("#main-picture").css('background-image', 'url(' + url + ')');
            $("#main-picture-indicator").hide();
        }

        function addGalleryPicture(url, id) {
            $("#gallery").append('<div class="col-sm-3 gallery-item"><img class="img-rounded" src="' + url + '" data-picture-id="' + id + '"></div>');
        }

        function procesaFormularioInicial() {
            // - Main Picture
            var mainPictureInputName = "#id_{{ form.main_picture_id.name }}";
            var $mainPictureInput = $(mainPictureInputName);
            // La url está almacenada en el atributo initial-picture-url
            var mainPictureUrl = $mainPictureInput.attr("initial-picture-url");
            if (mainPictureUrl) {
                setMainPicture(mainPictureUrl);
            }

            // - Gallery
            // Las urls se guardan en items de una lista oculta
            $("#initial-pictures-urls").find("li").each(function (index, item) {
                var url = $(item).text();
                var id = $(item).attr('data-picture-id');
                galleryArray[url] = id;
                addGalleryPicture(url, id);
            });
        }


        $().ready(function () {

            var $form = $("#experience-form");
            $form.submit(function (e) {
                //e.preventDefault();

                // Genera el json de fotos
                var pictures = [];
                $(".gallery-item").each(function (index, element) {
                    var picture_id = $(element).find("img").attr("data-picture-id");
                    if (picture_id) {
                        pictures.push(picture_id);
                    }
                });
                if (pictures.length) {
                    var picturesInput = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "{{ form.pictures_ids_json.name }}")
                            .val(JSON.stringify(pictures));
                    $form.append(picturesInput);
                }




                // Genera el json de montaje
                var setups = [];
                $(".setup").each(function (index, element) {
                    if (!$(element).hasClass("repeatable-template")) {
                        var setup = {};
                        var setupText = $(element).find(".setup-input").val();
                        var setupTypeOfFishing = $(element).find(".setup-input").val();
                        var setupDifficult = $(element).find(".setup-input").val();
                        if (setupText) {
                            setup['text'] = setupText;
                            setup['type_of_fishing'] = setupTypeOfFishing;
                            var pictureId = $(element).find("img").attr("data-picture-id");
                            if (pictureId) {
                                setup['picture'] = pictureId;
                                setup['difficult'] = setupDifficult;
                            }
                            setups.push(setup);
                        }
                    }
                });
                if (setups.length) {
                    var setupsInput = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "{{ form.setups_json.name }}")
                            .val(JSON.stringify(setps));
                    $form.append(setupsInput);
                }
            });

            procesaFormularioInicial();

            // Drag&Drop for main picture
            activateDragAndDrop($("#main-picture"), "{% url 'upload' %}", function (returndata) {
                var response = $.parseJSON(returndata);
                //TODO validar y tal
                setMainPicture(response.url);
                // Guardar la info en un campo oculto
                var input_id = "#id_{{ form.main_picture_id.name }}";
                $(input_id).val(response.id);
            });

            // Drag&Drop for gallery
            var gallery = $("#gallery");
            activateDragAndDrop(gallery, "{% url 'upload' %}", function (returndata) {
                var response = $.parseJSON(returndata);
                addGalleryPicture(response.url, response.id)

                // Guardar la info en un campo oculto
                var input_id = "#id_{{ form.pictures_ids_list.name }}";
                //TODO este campo es difícil de limpiar si se quiere quitar una foto de la lista
                var current_val = $(input_id).val();
                $(input_id).val(current_val + ";" + response.id);

                // Y en una variable global
                galleryArray[response.url] = response.id;
            });

            $(".setup-list").on("click", ".setup-picture", function (event) {
                var setupPicture = $(this);
                var setupIndex = setupPicture.attr("data-setup-index");

                var $modal = $("#modal-picture");
                $modal.modal("show");
                var $gallery = $modal.find("#gallery-modal");
                $gallery.empty();

                var urls = [];
                $("#gallery").find(".gallery-item").each(function (index, Element) {
                    urls.push($(Element).find("img").attr("src"))
                });

                for (var i = 0; i < urls.length; i++) {
                    $gallery.append('<div class="col-sm-3 gallery-item"><img class="img-rounded" src="' + urls[i] + '"></div>');
                }

                $gallery.find(".gallery-item").click(function (e) {
                    var url = $(this).find("img").attr("src");
                    var id = galleryArray[url];

                    var $control = setupPicture.children(".setup-picture-add");
                    var $pic = setupPicture.children("img");

                    $pic.attr("src", url);
                    $pic.attr("data-picture-id", id);
                    $pic.show();

                    $control.hide();

                    $modal.modal("hide");
                });
            });

        });
    </script>
{% endblock %}

{% block container %}
    <div class="panel panel-default">
    <div class="panel-body">
    <form role="form well well-lg" id="experience-form" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h3 class="col-lg-offset-1">{% trans "Información básica" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 100px">

        <!-- Title -->
        <div class="form-group">
            <div class="col-sm-12">
                {% trans "Nombre de tu experiencia" as pl_name_experience %}
                <input type="text" class="form-control input-xlg" placeholder="{{ pl_name_experience }}"
                       name="{{ form.title.name }}" id="id_{{ form.title.name }}"
                       value="{{ form.title.value | default_if_none:'' }}">
            </div>
        </div>
        {% if form.title.errors %}
            <span class="alert alert-danger">
                {% for error in form.title.errors %}
                    {{ error|escape }}
                {% endfor %}
            </span>
        {% endif %}

        <!-- Main Image -->
        <input type="hidden" id="id_{{ form.main_picture_id.name }}" name="{{ form.main_picture_id.name }}"
               initial-picture-url="{% picture_from_id form.main_picture_id.value %}"
               value="{{ form.main_picture_id.value |default:"" }}">

        <div class="form-group">
            <div class="col-sm-12">
                <div class="main-picture drop-target" id="main-picture">
                    <div id="main-picture-indicator">
                        <p>{% trans "Añade la imagen principal" %}</p>
                        <span class="glyphicon glyphicon-camera"></span>

                        <p>{% trans "Selecciona y arrastra una imagen" %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if form.main_picture_id.errors %}
            <div class="alert alert-danger">
                {% for error in form.main_picture_id.errors %}
                    {{ error|escape }}
                {% endfor %}
            </div>
            <br>
        {% endif %}

        <!-- Gallery -->
        {% if form.pictures_ids_json %}
            <ul id="initial-pictures-urls" style="display: none">
                {% for pic_id in form.get_pictures_ids_list %}
                    {% if pic_id %}
                        <li data-picture-id="{{ pic_id }}">{% picture_from_id pic_id %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <input type="hidden" id="id_{{ form.pictures_ids_list.name }}" name="{{ form.pictures_ids_list.name }}"
               value="{{ form.pictures_ids_list.value |default:"" }}">

        <div class="form-group">
            <div class="col-sm-12">
                <div class="row gallery drop-target" id="gallery">
                    <!-- Gallery item -->
                    {% comment %}<div class="col-sm-3 gallery-item">
                        <img class="img-rounded"
                             src="http://www.cocinillas.es/wp-content/uploads/2011/05/DSC08380-1600x1200.jpg">
                    </div>{% endcomment %}
                    <div id="gallery-indicator">
                        <p>{% trans "Añade más imágenes" %}</p>
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <div class="col-sm-12">
                <!-- <label for="id_{{ form.description.name }}"
               class="col-sm-2 ">{{ form.description.label }}</label> -->
                {% trans "Escribe sobre tu experiencia" as description_text %}
                <textarea class="form-control input-lg"
                          placeholder="{{ description_text }}"
                          rows="4"
                          name="{{ form.description.name }}" id="id_{{ form.description.name }}"
                        >{{ form.description.value | default_if_none:'' }}</textarea>
            </div>
            {% if form.description.errors %}
            <div class="alert alert-danger">
                {% for error in form.description.errors %}
                    {{ error|escape }}
                {% endfor %}
            </div>
        {% endif %}
        </div>
        Tipo de Pesca<input type="text" class="form-control" >
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">{% trans "¿Cómo lo has hecho?" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 100px">


        <h4>{% trans "Montaje " %}</h4>


        <div class="repeat">
            <div class="form-group repeatable-wrapper setup-list">
                <div class="repeatable-container">
                    <!-- Setup item -->
                    <div class="repeatable-row repeatable-template setup-item">
                        <div class="form-group setup">
                            <div class="col-sm-1">
                                <span>{row-number-placeholder}</span>
                            </div>
                            <div class="col-sm-9">
                                {% trans "Describe el montaje" as setup_description %}
                                <textarea class="form-control input-lg setup-input"
                                          placeholder="{{ setup_description }}"
                                          rows="4"
                                          name="setup_{row-count-placeholder}" id="id_setup_{row-count-placeholder}"
                                          autofocus="autofocus"
                                        ></textarea>
                            </div>
                            <div class="col-sm-2 setup-picture" data-setup-index="{row-count-placeholder}">
                                <a class="btn btn-default setup-picture-add"><span
                                        class="glyphicon glyphicon-camera"></span></a>
                                <img class="img-rounded"
                                     src="" style="display: none">
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!-- /Setup item -->

                    {% for setup in form.get_stups_list %}
                        <div class="repeatable-row">
                            <div class="form-group setup">
                                <div class="col-sm-1">
                                    <span>{{ forloop.counter }}</span>
                                </div>
                                <div class="col-sm-9">
                                    {% trans "Describe el montaje" as the_description %}
                                    <textarea class="form-control input-lg setup-input"
                                              placeholder="{{ the_description }}"
                                              rows="4"
                                              name="setup_{{ forloop.counter0 }}" id="id_setup_{{ forloop.counter0 }}"
                                            >{{ setup.text }}</textarea>
                                </div>
                                <div class="col-sm-2 setup-picture" data-setup-index="{{ forloop.counter0 }}">
                                    <input type="text" hidden name="setup-picture-id_{{ forloop.counter0 }}"
                                           value="{% setup_picture form.data forloop.counter0 %}">
                                    {% if setup.picture %}
                                        <a class="btn btn-default setup-picture-add" style="display: none"><span
                                                class="glyphicon glyphicon-camera"></span></a>
                                        <img class="img-rounded" data-picture-id="{{ setup.picture }}"
                                             src="{% picture_from_id setup.picture %}">
                                    {% else %}
                                        <a class="btn btn-default setup-picture-add"><span
                                                class="glyphicon glyphicon-camera"></span></a>
                                        <img class="img-rounded"
                                             src="" style="display: none">
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group setup">
                    <div class="col-sm-1">
                        <span>+</span>
                    </div>
                    <div class="col-sm-9">
                        {% trans "¿Próximo montaje?" as the_new_desc %}
                        <textarea class="form-control input-lg repeatable-add"
                                  placeholder="{{ the_new_desc }}"
                                  rows="4"
                                  name="setup" id="id_setup"
                                ></textarea>
                    </div>
                </div>
                {% comment %}TODO: colocar mejor el mensaje de error{% endcomment %}
                {% if form.setups_json.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.setups_json.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="modal fade" id="modal-picture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Pick a picture" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12">
                            <div class="row gallery" id="gallery-modal">
                                <!-- Gallery item -->
                                {% comment %}<div class="col-sm-3 gallery-item">
                                    <img class="img-rounded"
                                         src="http://www.cocinillas.es/wp-content/uploads/2011/05/DSC08380-1600x1200.jpg">
                                </div>{% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <h5>{% trans "Notas adicionales" %}</h5>

        <div class="form-group">
            <div class="col-sm-12">
                {% trans "¿Alguna cosa que quieras comentar más sobre tu experiencia?" as place_holder %}
                <textarea class="form-control input-lg"
                          placeholder="{{ place_holder }}"
                          rows="3"
                          name="{{ form.notes.name }}" id="id_{{ form.notes.name }}"
                        >{{ form.notes.value | default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.difficult.name }}">{% trans "Dificultad" %}</label>

                    <div class="col-sm-6">
                        <select class="form-control" name="{{ form.difficult.name }}" id="id_{{ form.difficult.name }}">
                            {% for choice in form.difficult.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% ifequal form.difficult.value choice.0 %}
                                        selected
                                        {% endifequal %}
                                        >{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">{% trans "Información adicional" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">





        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.tags.name }}">{% trans "Tags" %}</label>

                    <div class="col-sm-8">
                        {% trans "Comma separated tags" as pl_comma %}
                        <input type="text" class="form-control" placeholder="{{ pl_comma }}"
                               name="{{ form.tags.name }}" id="id_{{ form.tags.name }}"
                               value="{{ form.tags.value | default_if_none:'' }}">
                    </div>
                </div>
            </div>

        </div>
    </fieldset>

    <span class="clearfix"></span>



            <div id="setups-div">
                <textarea id="setups" style="display:none" name="setups"></textarea>
            </div>




    <!-- Submit Button -->
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">
        <div class="form-group">
            <label for="inputDisplayName" class="col-sm-1 control-label"></label>

            <div class="col-sm-3">
                <input type="submit" class="btn btn-success" value="{% trans "Publicar" %}"/>
            </div>
        </div>
    </fieldset>
    </form>

    <!-- Ajax uploads -->
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="upload-form"
          style="display: none">
        {% csrf_token %}
    </form>
    </div>
    </div>
{% endblock %}
