{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block container %}



    <div class="container">



        <div class="col-md-4">

            <h1 class="profile-name">{{ profile.display_name }}</h1>

            <div class="panel panel-default panel-body">

                <div class="thumbnail border-white">
                    <img alt="" src="{% if profile.avatar %}{{ profile.avatar.url }} {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}">
                </div>

                <div class="text-center">

                    <p>{{ profile.main_language }}, {{ profile.location }}</p>

                </div>

                <div class="profile-status-height">

                    <div class="col-md-4">
                        <a href="{% url 'experiences' profile.user.username %}">
                        <span class="DashboardProfileCard-statLabel">Experiencias</span>
                        <span class="DashboardProfileCard-statValue">{{ experiences|length }}</span>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="{% url 'followers' profile.user.username %}">
                        <span class="DashboardProfileCard-statLabel">Seguidores</span>
                        <span class="DashboardProfileCard-statValue">{{ followers_list|length }}</span>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="{% url 'following' profile.user.username %}">
                        <span class="DashboardProfileCard-statLabel">Seguidos</span>
                        <span class="DashboardProfileCard-statValue">{{ profile.following|length }}</span>
                        </a>
                    </div>

                </div>

                <br />

                {% if user.is_authenticated %}
                    {% if profile.user.id == user.id %}
                        <a class="btn btn-default btn-block btn-follow disabled">¡Eres tú!</a>
                    {% elif following %}
                        <a id="btn-follow" class="btn btn-default btn-block btn-follow" style="display: none;">Seguir</a>
                        <a id="btn-unfollow" class="btn btn-default btn-block btn-unfollow">No seguir</a>
                    {% else %}
                        <a id="btn-follow" class="btn btn-default btn-block btn-follow">Seguir</a>
                        <a id="btn-unfollow" class="btn btn-default btn-block btn-unfollow" style="display: none;">No seguir</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-default btn-block btn-follow disabled">Registrate para poder seguir a la gente {{ profile.display_name }}</a>
                {% endif %}

            </div>

        </div>
        <div class="col-md-8 card-left">

            <div class="panel panel-default panel-body">

                {% if is_owner %}
                    <p><span class="profile-bold">Email</span> {{ profile.user.email }}</p
                {% endif %}

                {% if profile.karma %}
                    <p><span class="profile-bold">Karma:</span> {{ profile.karma }}</p>
                {% endif %}

                {% if profile.user.date_joined.date %}
                    <p><span class="profile-bold">Registrado:</span> {{ profile.user.date_joined.date }}</p>
                {% endif %}


                <br />



            </div>

        </div>

{% endblock %}

{% block custom_js %}
    <script>
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $().ready(function () {
            var $follow = $("#btn-follow");
            var $unfollow = $("#btn-unfollow");
            $follow.click(function (e) {
                var data = {"username": '{{ profile.user.username }}'};

                $.ajax({
                    type: "POST",
                    url: '{% url 'follow' %}',
                    data: data,
                    dataType: "json",
                    success: function (jqXHR, textStatus, errorThrown) {

                        var $error = $("#error-follow");
                        $error.hide();

                        var $ok = $("#ok-follow");
                        $ok.show();

                        $follow.hide();
                        $unfollow.show();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        var $error = $("#error-follow");
                        $error.find("span").html(result.message);
                        $error.show();

                        var $ok = $("#ok-follow");
                        $ok.hide();

                        $follow.attr("disabled", false);
                    }
                })
            });

            $unfollow.click(function (e) {
                var data = {"username": '{{ profile.user.username }}'};
                $.ajax({
                    type: "POST",
                    url: '{% url 'unfollow' %}',
                    data: data,
                    dataType: "json",
                    success: function (jqXHR, textStatus, errorThrown) {

                        var $error = $("#error-follow");
                        $error.hide();

                        var $ok = $("#ok-follow");
                        $ok.show();

                        $follow.show();
                        $unfollow.hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        var $error = $("#error-follow");
                        $error.find("span").html(result.message);
                        $error.show();

                        var $ok = $("#ok-follow");
                        $ok.hide();

                        $unfollow.attr("disabled", false);
                    }
                })
            })
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}